.center {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.super-container {
    display: inline-block;
    border:1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 16px;
  background: inherit;
}

.container.top {
    margin-bottom: 1.5em;
}

.tab {
    font-size: 1.5em;
    background: #ffffff;
    border-radius: 5px;
    margin: 0 1.5em;
}

.value {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
}

sup {
    align-self:flex-start;
}

.value.weightVal {
    border: none;
}

.separator {
    width: 8px;
}

#weights {
    margin-bottom: 4px;
}

#bits {
    font-family: monospace;
    margin-top: 4px;
}

.checkButton {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  border: 2px white solid;
  width: 40px;
  height: 40px;
}

#value {
    font-family: monospace;
    font-size: 2rem;
}

.encodeOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* https://www.w3schools.com/howto/howto_css_switch.asp */
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 32px;
}

.horizontal{
    width: 32px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #412bc3;
}

#signInput[sign]:checked + .slider {
  background-color: red;
}

#encodeCheck:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4c35d2;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

input:checked + .slider.horizontal:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

